[package]
name = "price-reporter"
version = "0.1.0"
edition = "2021"

[features]
mocks = ["bimap"]

[dependencies]
# === Cryptography === #
hmac-sha256 = "1.1"

# === Async + Runtime === #
async-trait = { workspace = true }
futures = { workspace = true }
futures-util = "0.3"
tokio = { workspace = true }

# === Networking === #
tokio-stream = "0.1"
tokio-tungstenite = "0.18"
tungstenite = "0.18"
reqwest = "0.11"
web3 = "0.18"

# === Workspace Dependencies === #
common = { path = "../../common" }
external-api = { path = "../../external-api" }
job-types = { path = "../job-types" }
system-bus = { path = "../../system-bus" }
util = { path = "../../util" }

# === Misc Dependencies === #
atomic_float = "0.1"
bimap = { version = "0.6.2", optional = true }
create2 = "0.0.2"
hex = "0.3.1"
itertools = "0.11"
lazy_static = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
statrs = "0.16"
tracing = { workspace = true }
url = "2.4"
