[package]
name = "proof-manager"
version = "0.1.0"
edition = "2021"

[features]
mocks = ["dep:circuit-types", "common/mocks"]

[dependencies]
# === Cryptography === #
ark-mpc = { workspace = true }
mpc-plonk = { workspace = true }
merlin = { workspace = true, optional = true }

# === Runtime + Threading === #
crossbeam = { workspace = true }
rayon = { version = "1.5.3" }
tokio = { workspace = true }

# === Workspace Dependencies === #
circuits = { path = "../../circuits" }
circuit-types = { path = "../../circuit-types", optional = true }
common = { path = "../../common" }
constants = { path = "../../constants" }
job-types = { path = "../job-types" }

# === Misc Dependencies === #
serde = { workspace = true }
tracing = { workspace = true }
