# Build
**/target
**/build
**/flamegraph.svg
rustc-ice-*

# Git Patches
**/*.patch

# Config
**/no_commit
**/deployments.json

# DB
**/*.db

# vscode + vim
.idea
.vscode
*.sw[a-p]
secrets.env
/.gitattributes

# macos
**/.DS_Store
