[package]
name = "test-helpers"
version = "0.1.0"
edition = "2024"
description = "Helpers for setting up and running integration tests for the relayer"

[features]
default = ["test-harness"]
blockchain = [
    "dep:alloy",
    "dep:alloy-primitives",
    "dep:alloy-sol-types",
    "dep:circuit-types",
    "dep:constants",
    "dep:darkpool-client",
    "dep:num-bigint",
    "dep:k256",
    "dep:crypto",
]
test-harness = ["dep:futures", "dep:tokio"]
mocks = ["dep:types-runtime"]
mpc-network = [
    "dep:ark-mpc",
    "dep:async-trait",
    "dep:constants",
    "dep:dns-lookup",
    "dep:futures",
    "dep:crypto",
    "dep:tokio",
    "dep:util",
    "constants/mpc-types",
]

[dependencies]
# === Runtime + Networking === #
async-trait = { workspace = true, optional = true }
dns-lookup = { version = "1.0", optional = true }
futures = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }

# === Cryptography + Arithmetic === #
ark-mpc = { workspace = true, optional = true }
num-bigint = { version = "0.4", features = ["rand"], optional = true }
k256 = { version = "0.13", optional = true }

# === Ethereum Utils === #
alloy = { workspace = true, optional = true }
alloy-primitives = { workspace = true, optional = true }
alloy-sol-types = { workspace = true, optional = true }

# === Workspace Dependencies === # 
darkpool-client = { workspace = true, optional = true }
circuit-types = { workspace = true, optional = true }
constants = { workspace = true, optional = true }
crypto = { workspace = true, optional = true }
types-runtime = { workspace = true, optional = true }
util = { workspace = true, optional = true }

# === Misc Dependencies === #
itertools = "0.10.5"
eyre = { workspace = true }
rand = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
