[package]
name = "types-runtime"
version = "0.1.0"
edition = "2024"

[features]
default = []

[dependencies]
async-trait = { workspace = true }
tokio = { workspace = true, features = ["sync"] }
tracing = { workspace = true }
