[package]
name = "circuits"
version = "0.1.0"
edition = "2021"

[dependencies]
bitvec = "1.0"
curve25519-dalek = "2"
itertools = "0.10"
merlin = "2.0"
mpc-ristretto = { git = "https://github.com/renegade-fi/MPC-Ristretto" }
mpc-bulletproof = { git = "https://github.com/renegade-fi/mpc-bulletproof" }
num-bigint = { version = "0.4", features = ["rand"] }
rand = { version = "0.8" }
rand_core = "0.5"

[dev-dependencies]
ark-ff = { git = "https://github.com/arkworks-rs/algebra" }
ark-sponge = { git = "https://github.com/arkworks-rs/sponge" }
ark-crypto-primitives = { git = "https://github.com/arkworks-rs/crypto-primitives" }
clap = { version = "4.0", features = ["derive"] }
colored = "2"
ctor = "0.1"
criterion = { version = "0.4" } 
dns-lookup = "1.0"
integration-helpers = { path = "../integration-helpers" }
inventory = "0.3"
rand = "0.8"
tokio = { version = "1.12", features = ["macros", "rt-multi-thread"] }

[[test]]
name = "integration"
path = "integration/main.rs"
harness = false

# Patches normally only belong in the workspace root. However, we run integration
# tests outside the context of a workspace (i.e. as a standalone crate), so these
# crate patches are duplicated in the crate-local Cargo.toml 
[patch.crates-io]
ark-std = { git = "https://github.com/arkworks-rs/std" }
ark-ff = { git = "https://github.com/arkworks-rs/algebra" }
ark-ec = { git = "https://github.com/arkworks-rs/algebra" }
ark-serialize = { git = "https://github.com/arkworks-rs/algebra" }
ark-snark = { git = "git+https://github.com/arkworks-rs/snark", rev = "f6df807" }
ark-sponge = { git = "https://github.com/arkworks-rs/sponge" }
ark-r1cs-std = { git = "https://github.com/arkworks-rs/r1cs-std" }
ark-relations =  { git = "https://github.com/arkworks-rs/snark", rev = "f6df807" }
