[package]
name = "circuits"
version = "0.1.0"
edition = "2021"

[dependencies]
ark-crypto-primitives = { version = "0.4", features = ["crh", "merkle_tree", "sponge"] }
ark-ff = "0.4"
bigdecimal = "0.3"
bitvec = "1.0"
circuit-macros = { path = "../circuit-macros" }
crypto = { path = "../crypto" }
curve25519-dalek = "2"
ed25519-dalek = { version = "1.0.1" }
itertools = "0.10"
lazy_static = "1.4"
merlin = "2.0"
miller_rabin = "1.1.1"
mpc-ristretto = { git = "https://github.com/renegade-fi/MPC-Ristretto" }
mpc-bulletproof = { git = "https://github.com/renegade-fi/mpc-bulletproof" }
num-bigint = { version = "0.4", features = ["rand", "serde"] }
num-integer = "0.1"
rand = { version = "0.8" }
rand_core = "0.5"
serde = { version = "1.0.139", features = ["serde_derive"] }
serde_arrays = "0.1"
serde_json = "1.0"
tracing = { version = "0.1", features = ["log"] }

[dev-dependencies]
ark-ec = "0.4"
ark-ed25519 = "0.4"
clap = { version = "4.0", features = ["derive"] }
colored = "2"
ctor = "0.1"
criterion = { version = "0.4" } 
dns-lookup = "1.0"
env_logger = "0.9"
integration-helpers = { path = "../integration-helpers" }
inventory = "0.3"
num-primes = "0.3"
rand = "0.8"
serde_json = "1.0"
tokio = { version = "1.12", features = ["macros", "rt-multi-thread"] }

[[test]]
name = "integration"
path = "integration/main.rs"
harness = false