[package]
name = "bootloader"
version = "0.1.0"
edition = "2021"

[dependencies]

# === AWS Deps === #
aws-config = { version = "1.1.4", features = ["behavior-version-latest"] }
aws-sdk-s3 = "1.14.0"

# === Async + Runtime === #
tokio = { workspace = true, features = ["full"] }

# === Workspace Dependencies === #
config = { workspace = true }
funds-manager-api = { git = "https://github.com/renegade-fi/relayer-extensions.git", rev = "25bfcce" }
util = { workspace = true }

# === Misc Dependencies === #
base64 = "0.22"
hex = "0.4"
libp2p = { workspace = true }
reqwest = { version = "0.11", features = ["json"] }
serde_json = "1.0"
tracing = { workspace = true }
toml = "0.8"
