on: push

name: Cargo Test

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Protoc
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
    - name: Test 
      uses: actions-rs/cargo@v1
      with: 
        command: test
        args: --workspace --all-features --verbose -- --skip integration
